<div id="parent-to-child">
  <app-hero-parent></app-hero-parent>
</div>
<a href="#top" class="to-top">Back to Top</a>

<div id = "parent-to-child-setter">
  <app-name-parent></app-name-parent>
</div>

<div id = "parent-to-child-onchange">
  <app-version-parent></app-version-parent>
</div>

<div id = "voter">
  <app-vote-taker></app-vote-taker>
</div>

<div id = "timer">
  <app-countdown-parent-lv></app-countdown-parent-lv>
</div>

<div id = "service">
  <app-mission-control></app-mission-control>
</div>